@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 0%;
}

header {
    width: 100%;
    height: 700px;
    background-image: url("../images/apple-pie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

hr {
    margin: 5%;
}

header h1 {
    color: white;
    size: 3em;
    text-align: center;
    line-height: 40vh; 
    margin: 0%;
}

#description {
    text-align: center;
    margin: 5%;
}

#ingredients {
    text-align: left;
    margin: 5%;
}

#directions {
    text-align: left;
    margin: 5%;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    list-style-type: none;
    font-size: 1.3em;
    font-weight: lighter;
}

h2{
    font-weight:lighter;
}

h1{
    font-size: 2.5em;
    font-weight: lighter;
}

p {
    font-size: 1.3em;
    font-weight: lighter;
}

#segundoParrafo {
    padding-left: 3%;
}